<?xml version="1.0"?>
<!--
###############################################################################
#                                                                             #
#                              MODULE Events.xml                              #
#                                                                             #
###############################################################################

 PACKAGE:  Raspberry Pi General Purpose Input/Output for Indigo (Pi GPIO)
  MODULE:  Events.xml
   TITLE:  Pi GPIO event (trigger) objects (Events.xml)
FUNCTION:  Events.xml defines Pi GPIO events that may trigger specific indigo
           actions.  It identifies events, specifies GUI labels, and sets
           default values.
   USAGE:  Events.xml is read and interpreted by the indigo server during
           plugin startup.  When a user creates a new trigger, indigo uses the
           xml data to instantiate a trigger object per the indigo object model
           (IOM).
  AUTHOR:  papamac
 VERSION:  1.3.1
    DATE:  February 22, 2021


CHANGE LOG:

v1.3.1   2/22/2021  Update comments.

-->

<Events>

    <Event id="limitFault">
        <Name>Limit Check Fault</Name>
        <ConfigUI>

            <Field id="indigoTrigger" type="menu" defaultValue="anyFault">
                <Label>Limit Check Fault:</Label>
                <List>
                    <Option value="anyFault">Any Limit Fault</Option>
                    <Option value="lowFault">Low Limit Fault</Option>
                    <Option value="highFault">High Limit Fault</Option>
                </List>
            </Field>

        </ConfigUI>
    </Event>
</Events>